version: '3'

services:
  
  dbpostgresql_catalog:
    image: "postgres"
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: catalogdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      restart: unless-stopped
    volumes:
      - pgdata_catalog:/var/lib/postgresql/data

  dbpostgresql_user:
    image: "postgres"
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      restart: unless-stopped
    volumes:
      - pgdata_user:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"

  user:
    image: user_service:latest
    ports:
      - 8081:8081
    depends_on:
      - rabbitmq
      - dbpostgresql_user

  catalog:
    image: catalog_service:latest
    ports:
      - 8082:8082
    depends_on:
      - rabbitmq
      - dbpostgresql_catalog

  api_gateway:
    image: api_gateway:latest
    ports:
      - 8080:8080


volumes: 
    pgdata_user:
    pgdata_catalog:

